/FlexisourceIT/bin/Debug/net8.0/appsettings.Development.json
/FlexisourceIT/bin/Debug/net8.0/appsettings.json
/FlexisourceIT/bin/Debug/net8.0/FlexisourceIT.deps.json
/FlexisourceIT/bin/Debug/net8.0/FlexisourceIT.dll
/FlexisourceIT/bin/Debug/net8.0/FlexisourceIT.exe
/FlexisourceIT/bin/Debug/net8.0/FlexisourceIT.pdb
/FlexisourceIT/bin/Debug/net8.0/FlexisourceIT.runtimeconfig.json
/FlexisourceIT/bin/Debug/net8.0/Microsoft.OpenApi.dll
/FlexisourceIT/bin/Debug/net8.0/Newtonsoft.Json.dll
/FlexisourceIT/bin/Debug/net8.0/RainfallAPI.deps.json
/FlexisourceIT/bin/Debug/net8.0/RainfallAPI.dll
/FlexisourceIT/bin/Debug/net8.0/RainfallAPI.exe
/FlexisourceIT/bin/Debug/net8.0/RainfallAPI.pdb
/FlexisourceIT/bin/Debug/net8.0/RainfallAPI.runtimeconfig.json
/FlexisourceIT/bin/Debug/net8.0/Refit.dll
/FlexisourceIT/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/FlexisourceIT/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/FlexisourceIT/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/.vs/FlexisourceIT/config/applicationhost.config
/.vs/FlexisourceIT/DesignTimeBuild/.dtbcache.v2
/.vs/FlexisourceIT/FileContentIndex/15c2e265-6da8-42da-b58e-26ba80649718.vsidx
/.vs/FlexisourceIT/FileContentIndex/8c73b78f-c190-45b8-8ad5-db3e665a2a75.vsidx
/.vs/FlexisourceIT/FileContentIndex/b9077abd-c421-4b61-8481-662decef19d4.vsidx
/.vs/FlexisourceIT/FileContentIndex/d20eaaeb-51a7-44a6-af1c-4c1f47441402.vsidx
/.vs/FlexisourceIT/FileContentIndex/d5f385f6-772f-4bc6-b894-89fdd8ea2965.vsidx
/.vs/FlexisourceIT/v17/.futdcache.v2
/.vs/FlexisourceIT/v17/.suo
/.vs/FlexisourceIT/v17/DocumentLayout.json
/.vs/ProjectEvaluation/flexisourceit.metadata.v7.bin
/.vs/ProjectEvaluation/flexisourceit.projects.v7.bin
/FlexisourceIT/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/FlexisourceIT/obj/Debug/net8.0/apphost.exe
/FlexisourceIT/obj/Debug/net8.0/Flexisou.57488738.Up2Date
/FlexisourceIT/obj/Debug/net8.0/FlexisourceIT.AssemblyInfo.cs
/FlexisourceIT/obj/Debug/net8.0/FlexisourceIT.AssemblyInfoInputs.cache
/FlexisourceIT/obj/Debug/net8.0/FlexisourceIT.assets.cache
/FlexisourceIT/obj/Debug/net8.0/FlexisourceIT.csproj.AssemblyReference.cache
/FlexisourceIT/obj/Debug/net8.0/FlexisourceIT.csproj.BuildWithSkipAnalyzers
/FlexisourceIT/obj/Debug/net8.0/FlexisourceIT.csproj.CoreCompileInputs.cache
/FlexisourceIT/obj/Debug/net8.0/FlexisourceIT.csproj.FileListAbsolute.txt
/FlexisourceIT/obj/Debug/net8.0/FlexisourceIT.dll
/FlexisourceIT/obj/Debug/net8.0/FlexisourceIT.GeneratedMSBuildEditorConfig.editorconfig
/FlexisourceIT/obj/Debug/net8.0/FlexisourceIT.genruntimeconfig.cache
/FlexisourceIT/obj/Debug/net8.0/FlexisourceIT.GlobalUsings.g.cs
/FlexisourceIT/obj/Debug/net8.0/FlexisourceIT.MvcApplicationPartsAssemblyInfo.cache
/FlexisourceIT/obj/Debug/net8.0/FlexisourceIT.MvcApplicationPartsAssemblyInfo.cs
/FlexisourceIT/obj/Debug/net8.0/FlexisourceIT.pdb
/FlexisourceIT/obj/Debug/net8.0/RainfallAPI.AssemblyInfo.cs
/FlexisourceIT/obj/Debug/net8.0/RainfallAPI.AssemblyInfoInputs.cache
/FlexisourceIT/obj/Debug/net8.0/RainfallAPI.assets.cache
/FlexisourceIT/obj/Debug/net8.0/RainfallAPI.csproj.AssemblyReference.cache
/FlexisourceIT/obj/Debug/net8.0/RainfallAPI.csproj.CoreCompileInputs.cache
/FlexisourceIT/obj/Debug/net8.0/RainfallAPI.csproj.FileListAbsolute.txt
/FlexisourceIT/obj/Debug/net8.0/RainfallAPI.dll
/FlexisourceIT/obj/Debug/net8.0/RainfallAPI.GeneratedMSBuildEditorConfig.editorconfig
/FlexisourceIT/obj/Debug/net8.0/RainfallAPI.genruntimeconfig.cache
/FlexisourceIT/obj/Debug/net8.0/RainfallAPI.GlobalUsings.g.cs
/FlexisourceIT/obj/Debug/net8.0/RainfallAPI.MvcApplicationPartsAssemblyInfo.cache
/FlexisourceIT/obj/Debug/net8.0/RainfallAPI.MvcApplicationPartsAssemblyInfo.cs
/FlexisourceIT/obj/Debug/net8.0/RainfallAPI.pdb
/FlexisourceIT/obj/Debug/net8.0/ref/FlexisourceIT.dll
/FlexisourceIT/obj/Debug/net8.0/ref/RainfallAPI.dll
/FlexisourceIT/obj/Debug/net8.0/refint/FlexisourceIT.dll
/FlexisourceIT/obj/Debug/net8.0/refint/RainfallAPI.dll
/FlexisourceIT/obj/Debug/net8.0/staticwebassets.build.json
/FlexisourceIT/obj/Debug/net8.0/staticwebassets/msbuild.build.FlexisourceIT.props
/FlexisourceIT/obj/Debug/net8.0/staticwebassets/msbuild.build.RainfallAPI.props
/FlexisourceIT/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.FlexisourceIT.props
/FlexisourceIT/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.RainfallAPI.props
/FlexisourceIT/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.FlexisourceIT.props
/FlexisourceIT/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.RainfallAPI.props
/FlexisourceIT/obj/FlexisourceIT.csproj.nuget.dgspec.json
/FlexisourceIT/obj/FlexisourceIT.csproj.nuget.g.props
/FlexisourceIT/obj/FlexisourceIT.csproj.nuget.g.targets
/FlexisourceIT/obj/project.assets.json
/FlexisourceIT/obj/project.nuget.cache
/FlexisourceIT/obj/RainfallAPI.csproj.nuget.dgspec.json
/FlexisourceIT/obj/RainfallAPI.csproj.nuget.g.props
/FlexisourceIT/obj/RainfallAPI.csproj.nuget.g.targets
